       @import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
       html {
           width: 565px;
       }
       body {
           font-family: 'Lato', sans-serif;
       }       
       .main_container {
          padding: 35px 22px 20px!important;
          background: #a9aaa9;
          background: -moz-linear-gradient(top,  #a9aaa9 0%, #f0f9ff 100%);
          background: -webkit-linear-gradient(top,  #a9aaa9 0%,#f0f9ff 100%);
          background: linear-gradient(to bottom,  #a9aaa9 0%,#f0f9ff 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9aaa9', endColorstr='#f0f9ff',GradientType=0 );

       }
       .container-search-bx{
          padding-right: 20px;
          padding-left: 22px;
          margin-right: auto;
          margin-left: auto;
          margin-top: -12px;
       }
       .mb-18{
          margin-bottom: 18px;
       }
       .logo{
          width: 70px;
       }
       
       .gmail_heading {
          font-family: 'Lato', sans-serif;
          font-size: 15px;
          font-weight: bold;
          color: #000000;
          margin: 25px 0;
       }
       .search_gmail_txt {
           width: 100%;
           position: relative;
       }
       
       .search_gmail_txt_bx {
           border-radius: 0px !important;
           border: 1px solid #a9a9a9;
           width: 77% !important;
           background-color: #666666 !important;
           color: white !important;
           height: 50px !important;
           font-family: 'Lato', sans-serif;
           font-weight: bold;
       }
       
       .search_web_label {
           margin: 28px 0 0px 0;
           font-size: 16px;
           font-weight: 700;
       }
       
       .search_web_txt {
           width: 100%;
       }
       
       .search_web_txt_bx {
           border-radius: 0px !important;
           border: 1px solid #a9a9a9;
       }
       
       .bing_img img {
           float: right;
           margin-right: 44px;
       }
       
       .gmail_icon_list {
           margin: 5px 5px;
       }
       
       .gmail_icon_list img {
           width: 20px;
           height: 20px;
       }
       
       #gmail_loader img {
           right: 130px;
           position: absolute;
           width: 20px;
           top: 15px;
       }
       
       #gmail_msg_response {
           overflow-y: auto;
           margin-top: 2px;
           padding: 0;
       }
       
       #gmail_msg_response li {
           list-style: none;
           border-bottom: 1px solid #D4D4D2;
           background-color: #f3f3f3;
       }
       
       .message_description {
           padding: 6px 5px 8px 43px;
            color: #535351;
           font-family: 'Lato', sans-serif;
           font-weight: bold;
           font-size: 15px;
       }
       
       .bg-mail {
           background-image: url(/img/gmail_icon.png);
           background-repeat: no-repeat;
           background-size: 20px;
           background-position: 14px 8px;
       }
       
       .bg-search {
           background-image: url(/img/search.png);
           background-repeat: no-repeat;
           background-size: 20px;
           background-position: 5px 8px;
       }
       
       .message_description a {
           color: #535351;
           font-family: 'Lato', sans-serif;
           font-weight: bold;
           font-size: 15px;
       }
       
       .message_description a:hover {
           color: #535351;
       }
       
       .search_icon {
           position: absolute;
           right: 0px;
           top: 0px;
           cursor: pointer;
           height: 34px;
       }
       
       .refresh img {
           width: 25px;
       }
       
       .refresh {
           position: absolute;
           top: 32px;
           right: 25px;
           cursor: pointer;
       }
       
       .inline-block {
           display: inline-block;
       }
       
       .search_icon_btn {
           color: #fff;
           background-color: #309A30;
           padding: 6px 14px 6px 15px;
           border: 0px !important;
           height: 49px;
           font-family: 'Lato', sans-serif;
           font-weight: bold;
       }
       
        ::placeholder {
           /* Chrome, Firefox, Opera, Safari 10.1+ */
           color: #fff !important;
           opacity: 1 !important;
           /* Firefox */
       }
       
        :-ms-input-placeholder {
           /* Internet Explorer 10-11 */
           color: #fff !important;
       }
       
        ::-ms-input-placeholder {
           /* Microsoft Edge */
           color: #fff !important;
       }
       
       