@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
* {
    margin: 0;
    padding: 0;
}
*:focus {
    outline: 0;
}

*::-webkit-input-placeholder {
    color: #333333 !important;
}

*::-moz-placeholder {
    color: #333333 !important;
}
.bg-image {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: "center center";
    background-repeat: "no-repeat";
    background-attachment: "fixed";
    overflow: hidden;
    background-image: url("../../img/default.jpg");
    font-family: 'Lato', sans-serif;
}
.main-logo img{
    width: 167px;
    position: absolute;
    top: 41px;
    left: 32px;
}
.search-bx-container #search-form ::-webkit-input-placeholder {
    color: #333333;
    opacity: 0.7;
}

.search-bx-container #search-form :-moz-placeholder {
    /* Firefox 18- */
    color: #333333;
    opacity: 0.7;
}

.search-bx-container #search-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #333333;
    opacity: 0.7;
}

.search-bx-container #search-form :-ms-input-placeholder {
    color: #333333;
    opacity: 0.7;
}
.search-bx-container {
    margin-top: 58px;
}

.search-bx-container #search-bx {
    display: inline-block;
    height: 100%;
    width: 100%;
    border: none;
    padding-left: 45px;
    margin-bottom: 30px;
    opacity: 0.8;
    background-color: white;
    border-radius: 6px;
    font-size: 18px;
    line-height: 36px;
    color: #333333;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.search-bx-container #search-form {
    width: 640px;
    height: 46px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 7px 7px 20px 0px rgba(0,0,0,0.3), 40px 40px 10px -40px rgba(0, 0, 0, 0) inset;
}
.search-bx-container #search-form ::-webkit-input-placeholder {
    color: dimgray;
    opacity: 0.7;
}

.search-bx-container #search-form :-moz-placeholder {
    /* Firefox 18- */
    color: dimgray;
    opacity: 0.7;
}

.search-bx-container #search-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: dimgray;
    opacity: 0.7;
}

.search-bx-container #search-form :-ms-input-placeholder {
    color: dimgray;
    opacity: 0.7;
}
.search-icon {
    position: absolute;
    padding-top: 11px;
    width: 36px;
    height: 36px;;
    padding-left: 10px;
    padding-bottom: 3px;
    z-index: 1;
}
.weather-bx{
    position: absolute;
    right: 49px;
    top: 41px;    
}
.weather-bx-img{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    margin-top: 5px;
    height: 67px; 
}
.weather-bx-img i {
    font-size: 40px;
    color: #fff;
}
.weather-img{
   position: absolute;
   right: 72px;
}
.weather-bx-content{
  display: inline-block;    
}
#weather-desc{
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
#temprature{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
#city{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
footer{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 146px;
}
.easy-brands{
    top: 32px; 
    position: absolute;
}
.easy-brands ul li{
    float: left;
    padding: 0 0 0 30px;
}
.easy-brands img{
    width: auto;
    height: 46px;
}
.easy-family-brand{
    bottom: 23px;
    position: absolute;
    left: 33px;
}
.easy-family-brand img{
   width: 210px; 
}
.bg-image-desc{
    right: 25px;
    top: 19px;
    position: absolute;
    font-size: 18px;
    color: #fff;
}
.footer-links{
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    justify-content: center;
    padding: 2em 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: absolute;
    top: 93px;
}
.footer-links ul li{
    list-style: none;
    float: left;
    padding: 0 0 0 9px;
}
.footer-links ul li a{
   color: #fff; 
}
.footer-links ul li:before {
    content: "•";
    font-size: 10px;
    color: #fff;
    padding: 6px;
}
.footer-links ul li:first-child{margin-left:0;padding-left:0}
.footer-links ul li:first-child:before{content:""}
